<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://database:3306/streaum?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">myuser</property>
        <property name="hibernate.connection.password">mypassword</property>

        <!-- Let Hibernate pick correct dialect automatically -->
<!--         <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->

        <property name="hibernate.archive.autodetection">class,hbm</property>

        <!-- Hibernate options -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Entities -->
        <mapping class="com.example.streaum.entity.User"/>
        <mapping class="com.example.streaum.entity.Server"/>
        <mapping class="com.example.streaum.entity.UserHasServers"/>
        <mapping class="com.example.streaum.entity.Channel"/>
        <mapping class="com.example.streaum.entity.TextChannelHistory"/>
        <mapping class="com.example.streaum.entity.ServerInvitation"/>
    </session-factory>
</hibernate-configuration>